# dependencies
node_modules/
.pnp
.pnp.js

# Next.js build
.next/
out/

# env files (NEVER commit real credentials)
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
